
:root{
    --border: 1px solid;
}
.header{
    // width: 100%;
    height: 900px;
    border: var(--border);
    background-image: url(/img/header-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
&__nav{
    width: 100%;
    height: 120px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
&__nav-list{
    width: 90%;
    height: 70px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
&__nav-list-logo{
    width: 15%;
    height: 100%;
    border: var(--border);
}
&__nav-list-text{
    width: 65%;
    height: 100%;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
&__nav-list-text ul{
    display: flex;
}
&__nav-list-text li{
    display: flex;
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #2F327D;
    color: inherit;
  text-decoration: none;
}
li{
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 0% 3px, 0px 100px;
  background-position: 100% 100%, 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}
li:hover {
    background-size: 0 3px, 100% 3px;
    color: #FC377E;
    transition: 1s;
  }
&__nav-list-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
&__nav-list-btn button{
    width: 220px;
    height: 55px;
    background-color: #FC377E;
    border-radius: 80px;
    color: white;
    border: none;
    box-shadow: 0px 8px 40px 0px #D24D6542;

}
&__nav-list-btn button:hover{
    background-color: #2F327D;
    transition: 0.5s;
    font-size: 20px;
}
&__hero{
    width: 500px;
    height: 500px;
    border: var(--border);
    margin-left: 70px;
    margin-top: 70px;
}
&__hero-text{
    width: 100%;
    height: 25%;
    border: var(--border);
    display: flex;
    justify-content: start;
    align-items: center;
}
&__hero-text h1{
    font-size: 40px;
    color: #2F327D;
}
.span-h1{
    color: #FC377E;
}
&__hero-h4{
    width: 100%;
    height: 25%;
    border: var(--border);
}
&__hero-h4 h4{
    font-size: 22px;
    color: #2F327D;
}
.span-h4{
    color: #FC377E;
}
.span-1600{
    color: #FC377E;
}
&__hero-points{
    width: 100%;
    height: 32%;
    border: var(--border);
}
&__hero-points p{
    margin-top: 10px;
    font-size: 15px;
    color: inherit;
  text-decoration: none;
}
p{
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 0% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
p:hover {
    background-size: 0 3px, 100% 3px;
  }







// p:after {
//     content: '';
//     position: absolute;
//     width: 0;
//     height: 2px;
//     background:#FC377E;
//     bottom: 0;
//     left: 50%;
//     transition: all 0.5s ease;
// }
  
// p:hover::after {
//     width: 100%;
//     left: 0;
// }
&__hero-points img{
    margin-right: 5px;
}
&__hero-btn{
    width: 100%;
    height: 18%;
    border: var(--border);
    display: flex;
    align-items: center;
}
&__hero-btn button{
    width: 220px;
    height: 55px;
    background-color: #FC377E;
    border-radius: 80px;
    color: white;
    border: none;
    box-shadow: 0px 8px 40px 0px #D24D6542;
}
&__hero-btn button:hover{
    background-color: #2F327D;
    transition: 0.5s;
    font-size: 19px;
}

}